<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
    <script type="text/javascript" th:src="@{/js/base_js.js}"></script>

    <th:block th:include="base::headContent"></th:block>
</head>
<body>
    <table class="marquee-table">
        <tr height="30px" style="background-color:#001f3f;
            margin-top: 5px">
            <td colspan="2">
                <marquee direction="Right" height="30px" onmouseover="this.stop()" onmouseout="this.start()"
                    style="color:white"><b>Enjoy 10% off on your next purchase! Use code CART10 at checkout. </b></marquee>
            </td>
        </tr>

    </table>
    <th:block th:include="navbar::navbar"></th:block>
    

    <div th:if="${#strings.isEmpty(username)}" class="empty-cart-message" id="emptyCartMessage">
        <div class="noLogin"><img th:src="@{/images/errorIcon.png}" > <h1 class="empty-cart-empty-message" >YOU ARE NOT LOGGED IN</h1></div>
        <small> <a th:href="@{/login}" class="continue-shopping-link">Click here</a> to log in</small>
    </div>


 <div th:unless="${#strings.isEmpty(username)}">
   
        <div th:if="${#lists.isEmpty(cartList)}" class="empty-cart-message" id="emptyCartMessage">
            <h1 class="empty-cart-empty-message" >YOUR SHOPPING BAG IS EMPTY</h1>
            <small> <a th:href="@{/collection}" class="continue-shopping-link">CONTINUE SHOPPING</a></small>
        </div>
        <div th:unless="${#lists.isEmpty(cartList)}" class="cart-main-container">
            <div class="main-header">
                <div class="cart-heading">
                    <h1>Your Shopping Cart</h1>
                </div>
                <div class="emptyCartContainer">
                    <div class="empty-cart">
                        <div style="align-items: center">        <i class="fa-solid fa-cart-shopping cart-image fa-xl" ></i></div>
                        <a class="emptyCart-a" th:href="@{'/emptyCart/'+${userid}}"><h1 class="empty-cart-heading">Empty Cart</h1></a>
                    </div>
                    <div class="tooltip1" title="">This will remove all items from your cart</div>
                </div>
      

            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-12 offset-md-0">
                        <div class="header1">
                            <div class="header-item">
                                <h1>Item</h1>
                            </div>
                            <div class="header-quantity">
                                <h1>quantity</h1>
                            </div>
                            <div class="header-price">
                                <h1>price( in &#8377;)</h1>
                            </div>
                            <div>
                                <h1>remove</h1>
                            </div>

                        </div>
                        <hr>
                        <div class="cart-container">


                                <div th:each="item : ${cartList}" class="card">
                                    <div class="card-body">
                                        <div class="cart-body">

                                            <div class="item-info2">
                                                <div class="item-image">
                                                    <img th:src="@{'/images/'+${item[0]}+'.jpg'}"  />
                                                </div>
                                                <div class="item-info">
                                                    <h1  class="item-heading" th:text="${item[2]}"></h1>
                                                    <p class="item-color" style="font-size:1rem" th:text="${item[1]}"></p>
                                                </div>
                                            </div>


                                            <div class="item-quantity">
                                                <div class="item-quan1">
                                                    <i class="fa-solid fa-chevron-left quan-icon" th:onclick="'decreaseQuantity(\'' + ${item[5]} + '\',\'' + ${item[6]} + '\')'" ></i>
                                                    <div class="quan">
                                                        <span th:id="'span-quantity'+${item[5]}" th:text="${item[4]}" ></span>
                                                    </div>  
                                                    <i class="fa-solid fa-chevron-right quan-icon" th:onclick="'increaseQuantity(\'' + ${item[5]} + '\',\'' + ${item[6]} + '\')'"></i>
                                                </div>

                                            </div>
                                            <div class="item-price">
                                                <h1 class="h-item-price" th:id="'price'+${item[5]}" th:text="${item[3]}"></h1>
                                                <span style="display:none"  th:id="'initial_price'+${item[5]}" th:text="${item[3]}"></span>
                                            </div>
                                            <div class="item-remove">
                                                <a  th:href="'deleteFromCart/'+${item[0]}"><i class="fa-solid fa-trash " style="color:#001f3f; margin-right: 10px"></i></a>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                         

                        </div>
                        <div class="footer1">
                            <div class="footer-continue_shopping">
                                <i class="fa-solid fa-chevron-left " style="color:black"  ></i>
                                <a th:href="@{/collection}">Continue Shopping</a>
                            </div>

                            <div class="footer-purchase">
                                <a>Summary</a>
                                <i class="fa-solid fa-chevron-right " style="color:#fff"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    
 </div>
   

   


        <div th:if="${not #lists.isEmpty(cartList)}" id="sidebar" class="sidebar">
            <div class="sidebar-content">
                <h1 class="summar-heading">Summary</h1>
                <div class="promo-code-container">
                    <p class="summary-promo-code">Do you have promo code! </p>
                    <img class="down-img" id="down-img"  th:src="@{/images/downNew.png}"  />
                </div>
                <div class="promo-text-field" id="promo-text-field">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="%/+ Promo code" name="promo" id="promo">
                        </div>
                    </form>
                </div>


                <h1 class="subtotal" id="subtotal"></h1>

                <p class="gst">GST :12% (On each item)</p>
                <h1 class="total" id="total"></h1>
                <form id="checkout-form" th:action="@{/checkout}" th:method="post" >
                    <input type="hidden" id="total-input" name="total">
                    <input type="hidden" id="taxOnAmount" name="taxOnAmount">
                    <button type="button" onclick="formSubmit()" class="btn checkout-button" >Check Out</button>
                </form>
                
                <p class="or">OR</p>
                <button type="button" onclick="hideTheSummary()" class="btn back-button" ><i class="fa-solid fa-chevron-left quan-icon1"></i> Return</button>

            </div>



        </div>

   



<br>
<footer id="Cartfooter" class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="#">ForecastFits.com</a>
    </div>
    <!-- Copyright -->
  </footer>

    
</body>
</html>