<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections Page</title>
    <link rel="stylesheet" th:href="@{/css/collections_css.css}">
    <script type="text/javascript" th:src="@{/js/collections_js.js}"></script>
    <script type="text/javascript" th:src="@{/js/base_js.js}"></script>
    <th:block th:include="base::headContent"></th:block>
</head>

<body>
    <table class="marquee-table">
        <tr height="30px" style="background-color:#001f3f;
            margin-top: 5px">
            <td colspan="2">
                <marquee direction="Right" height="30px" onmouseover="this.stop()" onmouseout="this.start()"
                    style="color:white"><b>Welcome to Our Latest Collections </b></marquee>
            </td>
        </tr>

    </table>
    <th:block th:include="navbar::navbar"></th:block>
    <div  id="weatherbuttoncontainer" class="weather-button-container">
      <button id="weatherButton" onclick="showSideBar()" class="btn btn-primary btn-select-weather">
        Select Weather
      </button>
    </div>
    <div class="main-container">
      <div id="new-nav-container-div" class="new-nav-container-div">
        <div id="cross-div" class="cross-div" style="text-align: center;">
          <button onclick="hideSideBar()" id="category-button">Return</button>
        </div>
        <nav aria-labelledby="nav-title-social">
          <ul>
            <li><a th:href="@{/collections/sunny}">Sunny</a></li>
            <li><a th:href="@{/collections/cloudy}">Cloudy</a></li>
            <li><a th:href="@{/collections/overcast}">Overcast</a></li>
            <li><a th:href="@{/collections/mist}">Mist</a></li>
            <li><a th:href="@{/collections/lightRain}">Light rain</a></li>
            <li><a th:href="@{/collections/heavyRain}">Heavy rain</a></li>
            <li><a th:href="@{/collections/coldWeather}">Cold Weather</a></li>
            <li><a th:href="@{/collections/extremeSnowDrizzle}">Extreme Snow drizzle</a></li>
            <li><a th:href="@{/collections/fog}">Fog</a></li>
            <li><a th:href="@{/collections/heavyFrezzingRain}">Heavy freezing rains</a></li>
            <li><a th:href="@{/collections/sleet}">Sleet</a></li>
            <li><a th:href="@{/collections/heavySleet}">Heavy sleet</a></li>
            <li><a th:href="@{/collections/lightSnow}">Light Snow</a></li>
            <li><a th:href="@{/collections/heavySnow}">Heavy Snow</a></li>
          </ul>
        </nav>
      </div>
      
        <!-- <div class="nav-container">
            <div>
                <ul class="side-navbar">
                 
                </ul>

            </div>


        </div> -->

        <div th:if="${content}== 'visible'" class="container mt-5">
            <div class="row ">
                <div col="col-md-12 offset-md-3 ">
                    <h2 class="text-center sectionHeading">Weather-Adaptive Fashion Collections </h2>
                    <hr>
                    <p class="text-center p-explore">EXPLORE</p>
                    <div class="productCards">


                    
                            <div th:each="item : ${types}" class="card">
                                <div class="card-body">
                                    <img class="card-image" th:src="@{'/images/'+${item} +'.jpg'}">
                                    <div class="card-text">


                                        <div th:if="${item} == 'sunny_hot'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">25&deg;C-45&deg;C</h1>
                                        </div>



                                        <div th:if="${item} == 'sunny_moderate'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">18&deg;C-24&deg;C</h1>
                                        </div>



                                        <div th:if="${item} == 'sunny_cold'" class="title-container"><span
                                                class="best">Best For: </span>
                                            <h1 class="card-title">6&deg;C-17&deg;C</h1>
                                        </div>


                                        <div th:if="${item} == 'cloudy_moderate'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">17&deg;C-24&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'cloudy_cold'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">5&deg;C-17&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'overcast_moderate'" class="title-container"><span
                                                class="best">Best For: </span>
                                            <h1 class="card-title">15&deg;C-24&deg;C</h1>
                                        </div>


                                        <div th:if="${item} == 'overcast_cold'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">5&deg;C-17&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'mist_moderate'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">18&deg;C-24&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'mist_cold'" class="title-container"><span
                                                class="best">Best For: </span>
                                            <h1 class="card-title">5&deg;C-16&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'lightRain_moderate'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">15&deg;C-24&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'lightRain_cold'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">6&deg;C-16&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'heavyRain'" class="title-container"><span
                                                class="best">Best For: </span>
                                            <h1 class="card-title">7&deg;C-24&deg;C</h1>
                                        </div>


                                        <div th:if="${item} == 'coldWeather'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">0&deg;C-10&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'extremeSnowDrizzle'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">-5&deg;C-10&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'fog'" class="title-container"><span class="best">Best
                                                For: </span>
                                            <h1 class="card-title">12&deg;C-20&deg;C</h1>
                                        </div>


                                        <div th:if="${item} == 'heavyFrezzingRain'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">-5&deg;C-5&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'sleet'" class="title-container"><span class="best">Best
                                                For: </span>
                                            <h1 class="card-title">-2&deg;C-4&deg;C</h1>
                                        </div>


                                        <div th:if="${item} == 'heavySleet'" class="title-container"><span
                                                class="best">Best For </span>
                                            <h1 class="card-title">-6&deg;C-9&deg;C</h1>
                                        </div>

                                        <div th:if="${item} == 'lightSnow'" class="title-container"><span
                                                class="best">Best For: </span>
                                            <h1 class="card-title">-3&deg;C-8&deg;C</h1>
                                        </div>


                                        <div th:if="${item} == 'heavySnow'" class="title-container"><span
                                                class="best">Best For: </span>
                                            <h1 class="card-title">-10&deg;C-4&deg;C</h1>
                                        </div>


                                        <p class="card-description">

                                        </p>

                                        <div class="gender">
                                            <div>
                                                <a th:href="@{'/getTypes/'+${item}+'/Male'}">
                                                    <button class="btn btn-primary" style="background-color: #041e3a; color:white;">Explore!</button>
                                                </a>
                                            </div>
                                            <!-- <div>
                                            
                                                <a  th:href="@{'/getTypes/'+${item}+'/Male'}">
                                                    <button type="button" class="btn"><img class="male"
                                                            th:src="@{/images/male.png}">
                                                    </button>
                                                </a>
                                            </div>
                                            <div>
                                                <a    th:href="@{'/getTypes/'+${item}+'/Female'}">
                                                    <button type="button" class="btn"><img class="female"
                                                        th:src="@{/images/female.png}">
                                                    </button>
                                                </a>
                                            </div> -->
                                        </div>
                                    </div>


                                </div>
                            </div>
                  



                    </div>
                    <p class="text-center" style="margin-top:18px;
                           color:black">EXPLORE OUR LATEST COLLECTIONS </p>
                    <hr>
                </div>
            </div>
        </div>
    
      
            <div th:unless="${content}== 'visible'" class="container otherwise-cont mt-5">
                <div class="row justify-content-center ">
                    <div col="col-md-6 offset-md-3 ">
                        <h2 class="text-center sectionHeading">STYLE MATCHES WEATHER</h2>
                        <HR>
                        <!--<p class="text-center p-explore" >EXPLORE</p>-->
                        <div class="container card-container text-center">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="image-container">
                                        <img id="image" 
                                            class="men-image" th:src="@{/images/men.jpg}" />
                                    </div>
                                    <div class="defaultdes">
                                        <p class="text-center ">Explore our collection of stylish clothing designed to
                                            match various weather conditions. Whether it's a sunny day or a cold
                                            evening, we have the perfect outfits for you.</p>
                                    </div>
                                    <div class="defaultdes2">
                                        <p class="text-center ">Visit our collections to discover the latest trends in
                                            weather-based fashion.</p>
                                    </div>
                                    <div class="button-container">
                                        <a th:href="@{/CheckWeather}"><button
                                            class="btn btn-outline-primary">Check Weather</button></a>
                                        <button class="btn btn-outline-danger">New Arrivals</button>
                                    </div>
                                </div>




                            </div>
                        </div>

                        <p class="text-center last" style="margin-top:18px;
                           color:black">EXPLORE OUR LATEST COLLECTIONS </p>
                        <hr>
                    </div>
                </div>
            </div>
        













    </div>
    <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container p-4">
          <!-- Section: Images -->
          <section class="">
            <div class="row">
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div data-mdb-ripple-init
                  class="bg-image hover-overlay shadow-1-strong rounded"
                  data-ripple-color="light"
                >
                  <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div data-mdb-ripple-init
                  class="bg-image hover-overlay shadow-1-strong rounded"
                  data-ripple-color="light"
                >
                  <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp" class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div data-mdb-ripple-init
                  class="bg-image hover-overlay shadow-1-strong rounded"
                  data-ripple-color="light"
                >
                  <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div data-mdb-ripple-init
                  class="bg-image hover-overlay shadow-1-strong rounded"
                  data-ripple-color="light"
                >
                  <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div data-mdb-ripple-init
                  class="bg-image hover-overlay shadow-1-strong rounded"
                  data-ripple-color="light"
                >
                  <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div data-mdb-ripple-init
                  class="bg-image hover-overlay shadow-1-strong rounded"
                  data-ripple-color="light"
                >
                  <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" class="w-100" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <!-- Section: Images -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2020 Copyright:
          <a class="text-body" href="https://clothing-production.up.railway.app/">ForecastFits.com</a>
        </div>
        <!-- Copyright -->
      </footer>

</body>

</html>