<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions</title>
    <script type="text/javascript" th:src="@{/js/conditions.js}"></script>
    <script type="text/javascript" th:src="@{/js/conditions.js}"></script>
    <link rel="stylesheet" th:href="@{/css/conditions.css}">

    <th:block th:include="base::headContent"></th:block>

</head>
<body>
    
    <div class="container">
        <h1>Terms of Use</h1>
        <div class="section">
            <h2>Introduction</h2>
            <p>
                Welcome to our website! By using our services, you agree to the following terms of use:
            </p>
            <ul>
                <li>
                    Establish and clarify your intellectual property rights
                </li>
                <li>
                    Limit your liabilities
                </li>
                <li>
                    Outline your dispute resolution options
                </li>
                <li>
                    Disclose your governing laws
                </li>
                <li>
                    Establish payment terms
                </li>
                <li>
                    Include shipping policy and return and refund details
                </li>
                <li>
                    Inform users about your privacy policy
                </li>
                <li>
                    Outline acceptable uses, prohibited behaviors, and their consequences
                </li>
            </ul>
            <p>
                It answers several common customer service questions and provides clear protocols if users try to take advantage of your operations.
            </p>
        </div>
        <div class="section">
            <h2>Are Terms and Conditions Legally Required?</h2>
            <p>
                No, terms and conditions agreements aren’t legally required, but it’s in your best interest to post one on your website or mobile app.
            </p>
            </div>
    </div>
</body>
</html>