<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotPassword</title>
    <link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
    <script type="text/javascript" th:src="@{/js/forgotPassword.js}"></script>
    <th:block th:include="base::headContent"></th:block>
</head>
<body>
    <div id="overlay">
        <img th:src="@{/images/ZKZg.gif}" >
    </div>
    <div class="container " >
        <div class="row justify-content-center">
            <div class="col-md-6 offset-md-3 ">
              <div class="card">
                <div class="card-body">
    
                    <form id="forgotForm" onsubmit="return validateForm()" th:action="@{changePassword}" method="post">
                       <div class="form-group">
                      <h1 class="find-heading">Change password</h1>
                      <div class="find-label">To change the password for your ForecastFit account use this form</div>
                       <div class="form-group">
                            <input required id="pass1" type="password" class="form-control" name="newPassword1"  placeholder="new  password">
                           </div>
                       <div class="form-group">
                        <input required id="pass2" type="password" class="form-control" name="newpassword" placeholder="re-enter new password">
                        <div id="pass2Container" class="invalid-feedback">
                                
                        </div>
                       </div>
                       <input th:value="${userid}" type="hidden"  name="userid">
                       
                     <div class="button-container text-center">
                        <button type="submit" class="btn btn-find">Save changes</button>
                     </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
        </div>
</body>
</html>