<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>JSP Page</title>

  <link rel="stylesheet" th:href="@{/css/index_css.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/> 
  <script type="text/javascript" th:src="@{/js/index_js.js}"></script>
  <script type="text/javascript" th:src="@{/js/base_js.js}"></script>
  <!-- <th:block th:include="indexBase::headContent2"></th:block> -->
  <th:block th:include="base::headContent"></th:block>
  
  <!--<script src="<c:url value="/resources/javascript/newjavascript.js"/>"></script>-->




</head>


<body>

  <table class="marq-table" style="background-color:#001f3f;
                   width:100%">
    <tr height="50px" class="center-text">
      <td colspan="2"><span class="indexpage-heading">Free Standard Delivery</span> <a href="#"
          class="indexpage-heading details">Details</a></td>
    </tr>

  </table>
  <div id="username" th:data-itemid="${username}"></div>
  <div id="baseUrl" th:data-itemid="${baseUrl}"></div>
  <div class="container1">
    <br>
    <!-- Background image div for small screens -->
    <th:block th:include="navbar::navbar"></th:block>
    <div id="carousel-background" class="carousel-background"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" th:src="@{/images/carasoul1.png}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" th:src="@{/images/carasoul2.png}" alt="Second slide">
        </div>
        <!-- <div class="carousel-item">
          <img class="d-block w-100" th:src="@{/images/carasoul3.png}" alt="Third slide">
        </div> -->
        <div class="carousel-item">
          <img class="d-block w-100" th:src="@{/images/carasoul4.png}" alt="Third slide">
        </div>
        <!-- <div class="carousel-item">
          <img class="d-block w-100" th:src="@{/images/carasoul6.png}">
        </div> -->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!--                <div class="container">
                            <div class="row justify-content-center">
                                <div col="col-md-12 offset-md-3">
                                    <div class='container text-center mt-5' >
                                        <h1 class="index-h1">FASHION FORECAST</h1>
                                        <br>
                                        <p class="index-p1" >Your Personalized Clothing Recommendation</p>
                                        <br>
                                        <p class="index-p2">ENJOY UPTO 30% OFF</p>
                                        <div class="cta-section mt-4">
                                            <p class="index-p3" >Choose Your Destination and Discover Trendy Clothes</p>
                                            <a href="${pageContext.request.contextPath}/ChooseDestination">
                                                <button class="btn btn-explore mt-2">Explore Now</button>
                                            </a>                            </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>-->
  </div>
  <hr>
  <br><!-- comment -->
  <!--Section 1: Featured Products-->
  <div class="container">
    <div class="row ">
      <div col="col-md-12 offset-md-3 ">
        <h2 class="text-center sectionHeading">Featured Products</h2>
        <div class="productCards">
          <div class="card text-center border border-primary shadow-0 ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img th:src="@{/images/2.jpg}" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Sunny Weather</h5>
              <p class="card-text">
                Embrace the sunshine with our vibrant collection of summer wear. From breezy dresses to stylish shorts,
                discover the perfect outfits to keep you cool and fashionable under the warm sun.</p>

              <a th:href="@{/collections/sunny}"><button type="button" class="btn btn-primary">Explore</button></a>
            </div>
          </div>
          <div class="card text-center border border-primary shadow-0 ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img th:src="@{/images/rainy_picture.jpg}" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Rainy Weather</h5>
              <p class="card-text">
                Stay dry and stylish during rainy days. Explore our waterproof jackets, colorful umbrellas, and trendy
                rain boots to make a splash while staying protected from the showers.
              </p>

              <a th:href="@{/collections/heavyRain}"><button type="button" class="btn btn-primary">Explore</button></a>
            </div>
          </div>
          <div class="card text-center border border-primary shadow-0 ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img th:src="@{/images/snow_picture.jpg}" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Heavy Snow weather</h5>
              <p class="card-text">
                Embrace the winter wonderland with our cozy collection designed for heavy snow days. From insulated
                jackets to thermal layers and waterproof boots.
              </p>

              <a th:href="@{/collections/HeavySnow}"><button type="button" class="btn btn-primary">Explore</button></a>
            </div>
          </div>
          <!-- <div class="card">
                    <img th:src="@{/images/2.jpg}" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title">Sunny Weather</h5>
                      <p class="card-text">Embrace the sunshine with our vibrant collection of summer wear. From breezy dresses to stylish shorts, discover the perfect outfits to keep you cool and fashionable under the warm sun.</p>
                      <a th:href="@{/getTypes/sunny_hot}" class="btn btn-primary" data-mdb-ripple-init>Explore</a>
                    </div>
                  </div> -->
          <!-- <div class="card">
                        <div class="card-body">
                            <img class="card-image" th:src="@{/images/2.jpg}" />
                            <div class="card-text">

                                <h1 class="card-title">Sunny Weather</h1>
                                <p class="card-description">
                                    
                                </p> 
                                <div class="button-container text-center">
                                  
                                    <a th:href="">
                                        <button type="button" class="btn btn-explore">Check out ! </button>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div> -->
          <!-- <div class="card">
                        <div class="card-body">
                            <img class="card-image" th:src="@{/images/rainy_picture.jpg}" />
                            <div class="card-text">

                                <h1 class="card-title">Rainy Weather</h1>
                                <p class="card-description">
                                    Stay dry and stylish during rainy days. Explore our waterproof jackets, colorful umbrellas, and trendy rain boots to make a splash while staying protected from the showers.
                                </p> 
                                <div class="button-container text-center">
                                    <a  th:href="@{/getTypes/heavyRain}">
                                        <button type="button" class="btn btn-explore">Check out ! </button>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-image" th:src="@{/images/snow_picture.jpg}" />
                            <div class="card-text">

                                <h1 class="card-title">For Heavy Snow weather</h1>
                                <p class="card-description">
                                    Embrace the winter wonderland with our cozy collection designed for heavy snow days. From insulated jackets to thermal layers and waterproof boots.
                                </p> 
                                <div class="button-container text-center">
                                    <a th:href="@{/getTypes/HeavySnow}" >
                                        <button type="button" class="btn btn-explore">Check out ! </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->

        </div>
        <p class="text-center" style="    font-size: 14px;
            margin-top: 31px;
            color: #041e3a;
                   ">EXPLORE MORE ON COLLECTIONS </p>
        <hr>
      </div>
    </div>

    <!--         Section 2: New Arrivals
        
    -->
  </div>



<div class="arrivals-container">
<div class="new-arrivals">
  <h1>New Arrivals</h1>
  <p>Explore our new arrivals , you might like them !</p>
  <div class="item-grid">
    <div class="item-box">
      <img th:src="@{/images/45.jpg}" alt="Image 1">
      <h3>Polo Tshirt</h3>
      <p>Solid Tee - No Logo. No Print.
        Fabric Collar
        220 GSM Supima Polo.</p>
    </div>
    <div class="item-box">
      <img th:src="@{/images/89.jpg}" alt="Image 1">
      <h3>1pc men scarf brown striped tassel shawl</h3>
      <p>1pc men scarf brown striped tassel shawl Warm wrap muffler hijab scarves for use daily autumn Color:	Coffee Brown</p>
    </div>
    <div class="item-box">
      <img th:src="@{/images/34.jpg}" alt="Image 2">
      <h3>Loose Fit Sweatshirt</h3>
      <p>Top in lightweight sweatshirt fabric made from a cotton blend with a soft brushed inside

      </p>
    </div>
    <!-- Add more item boxes here -->
  </div>
</div>
</div>


  <!-- Footer -->
  <footer class="bg-body-tertiary text-center mt-5"
    style="background-color: #f3f3f3;    font-family: RL_DroidKufi, LeJeuneDeck-Regular, Times New Roman, Times, serif;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" placeholder="Email" />
                <!-- <label class="form-label" for="form5Example24">Email address</label> -->
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Welcome to our exclusive world of weather-inspired fashion! At ForecastFits, we believe that every weather
          condition is an opportunity to express your unique style. Whether it's embracing the warmth of summer, dancing
          in the rain, or cozying up during the winter chill, we've got you covered with the perfect ensemble for every
          forecast.
        </p>
      </section>
      <!-- Section: Text -->

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Policies</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Terms and Conditions</a>
              </li>
              <li>
                <a class="text-body" href="#!">Delivery Shipping</a>
              </li>
              <li>
                <a class="text-body" href="#!">Return Policy</a>
              </li>
              <li>
                <a class="text-body" href="#!">Privacy Policy</a>
              </li>
              <li>
                <a class="text-body" href="#!">Frequently Asked Questions</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Let us help you</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Contact Us</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About Us</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Our Story</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->


          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-reset fw-bold" href="#">ForecastFits.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>

</html>