<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div th:fragment="navbar">
    <div class=" container-navbar mt-3">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light" style="">
            <a class="navbar-brand" href="#" style="
               font-size:17px;
               /* font-weight:bold; */
               font-family: 'Mate SC', serif;
               font-weight:bold;
  font-style: normal;
               letter-spacing:3px;
               color:#041e3a;
               ">FORECAST FITS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/collection}">Collections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ChooseDestination}">Destination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/myOrdersPage}">My orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/CheckWeather}">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About us</a>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <!--</li>-->
                    <!--      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown
                            </a>-->
                    <!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>-->
                    <!--</li>-->
                    <!--      <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                          </li>-->
                </ul>
                   <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="tees,jackets,dressess...." aria-label="Search">
                      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                    </form>
    
            </div>
            
    
            <div class="nav-icons">
                
   
                    <div  th:if="${username}!=null"  th:style="'letter-spacing:1px'" th:text="'welcome '+ ${username}" class="welcome-message"></div>
                <div class="icon-container search-div">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#041e3a" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                    </a>
                    <div class="tooltip">Search</div>
                </div>
              
                <div th:if="${username}==null" class="icon-container">
                    <a th:href="@{/login}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#041e3a" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
                    </a>
                    <div class="tooltip">Login</div>
                </div>
                <!-- th:unless="${#strings.isEmpty(#cookies.get('username')?.value)} -->
                <div class="icon-container" th:unless="${username}==null">
                    <a th:href="@{/logout}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#041e3a" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                    </a>
                    <div class="tooltip">Logout</div>
                </div>
                
    
                <div class="icon-container">
                    <a id="wishlist-link" th:href="@{/wishlist}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#041e3a" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                    </a>
                    <div class="tooltip">Wishlist</div>
                </div>
                <div class="icon-container">
                    <a th:href="@{/Cart}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#041e3a" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
                    </a>
                    <div class="tooltip">Cart</div>
                </div>
    
            </div>
    
    
        </nav>
    
    </div>
    
</div>

</body>
</html>
